*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    height: 125vh;
}

nav{
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    padding: 10px 15px;

    position: sticky;
    top: 0;
}

nav h1{
    flex-grow: 1;
}

li{
    display: inline-block;
    padding: 10px;
}

nav a{
    color: antiquewhite;
}

main{
    flex-grow: 1;

    display: flex;
    align-items: center;

    background-color: darkgray;
}

.content{
    max-width: 70%;
    margin: 20px auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 1fr));
    gap: 20px;
    align-items: center;
}

.hero{
    grid-column: span 6;
}

.image{
    grid-column: span 6;
}

img{
    width: 100%;
    height: auto;
}

footer{
    background-color: black;
    color: antiquewhite;
    text-align: center;
    padding: 10px;
}